# GCS and Google Cloud dependencies
google-cloud-storage
google-auth

# PostgreSQL database connector
psycopg2-binary

# For scheduling tasks
schedule

# For watching file system events
watchdog
dotenv
numpy